body {
  background: linear-gradient(to bottom, #525252, #71c2eb);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
}

#titulo {
  color: #f8f9fa;
  text-shadow: 3px 2px 30px #000;
}

/* NAV BAR */

#offcanvasNavbar > div.offcanvas-body > ul > li:hover {
  opacity: 50%;
}
